<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../sass/index.scss" />
    <script type="module" src="../../js/homeworks/task-05.js"></script>
    <title>Задание 5</title>
  </head>
  <body>
    <p><a href="./homeworks.html">На главную</a></p>

    <input type="text" placeholder="Ваше имя?" id="name-input" />
    <h1>Привет, <span id="name-output">незнакомец</span>!</h1>

  </body>
</html>
