<div class="container_button">
    <button class="js-button">😄 Это кнопка</button>
    <button type="button" class="js-button_atack">Атака Воина</button>
    <button type="button" class="js-button_atack mage">Атака Мага</button>
    <button type="button" class="js-button_atack berserk">Атака Берсерка</button>
</div>

<ul class="list">
    <li class="item decrement">
        <button type="button" class="button_decrement floating-button" >
            <span class="button_name">Уменьшить</span> 
        </button>
    </li>
    <li class="item">
        <p class="count">0</p>
    </li>
    <li class="item increment">
        <button type="button" class="button_increment floating-button">
            <span class="button_name">Увеличить</span>
        </button>
    </li>
</ul>
<ul class="list" id="counter-1">
    <li>
        <button type="button" data-increment class="button_decrement floating-button">Уменьшить</button>
    </li>
    <span data-value class="count">0</span>
    <li>
       <button type="button" data-decrement class="button_increment floating-button">Увеличить</button>
    </li>
</ul>
<ul class="list" id="counter-2">
    <li>
        <button type="button" data-increment class="button_decrement floating-button">Уменьшить</button>
    </li>
    <span data-value class="count">0</span>
    <li>
       <button type="button" data-decrement class="button_increment floating-button">Увеличить</button>
    </li>
</ul>
<ul class="list" id="counter-3">
    <li>
        <button type="button" data-increment class="button_decrement floating-button">Уменьшить</button>
    </li>
    <span data-value class="count">0</span>
    <li>
       <button type="button" data-decrement class="button_increment floating-button">Увеличить</button>
    </li>
</ul>
<div class="siema">
    <img src="/assets/siema--yellow.svg">
    <img src="/assets/siema--pink.svg">
    <img src="/assets/siema--yellow.svg">
    <img src="/assets/siema--pink.svg">
  </div>
  
  <button class="prev">prev</button>
  <button class="next">next</button> 
 