<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>querySelector</title>
    <link rel="stylesheet" href="../../sass/index.scss" />
    <script type="module" src="../../js/practics/Урок 1 (переменные и ветвления).js"></script>
  </head>
  <body>
    <p><a href="index.html">На главную</a></p>

    <button id="js-1" type="button" class="magic-btn js-magic-btn">
      Сделать магию
    </button>

    <ul class="site-nav">
      <li class="site-nav__item">
        <a href="" class="site-nav__link">О нас</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Портфолио</a>
      </li>
      <li class="site-nav__item">
        <a href="" class="site-nav__link">Контакты</a>
      </li>
    </ul>

    <script src="/js/Урок 13 (DOM).js" ></script>
  </body>
</html>